{% extends 'base.html' %}

{% block content %}
<div class="logged-in">You're logged in as: {{name}}</div>
<div class="row">
		<div class="col-4">
			<a href="/blog" class="button">View blog</a>
		</div>
		<div class="col-4">
			<a href="/newpost" class="button">Post</a>
		</div>
		<div class="col-4">
			<a href="/logout" class="button">Logout</a>
		</div>
	</div>
<div class="title">{{post.title}}</div>
<div class="edit-link">
	<a href="{{'/blog/edit/%s' % post.key().id()}}">(Edit?)</a>
</div>
<div class="delete-link">
	<a href="{{'/blog/delete/%s' % post.key().id()}}">(Delete?)</a>
</div>
<div class="date-created">{{post.date_time_created.strftime("%a, %d %b %Y")}}</div>
<hr>
<div class="content">{{post.content}}</div>

{% endblock %}