{% extends 'base.html' %}

{% block content %}
<form method="post">
	<label>
		<div class="form-title">title</div>
		<div class="error">{{title_error}}</div>
		<input class="input-title" type="text" name="title" value="{{title}}">
	</label>

	<label>
		<div class="form-content">content</div>
		<div class="error">{{content_error}}</div>
		<textarea class="text-content" name="content">{{content}}</textarea>
	</label>
	<br>
	<input type="submit">
	<br>
	<div class="error">{{error}}</div>
</form>

{% endblock %}