{% extends 'base.html' %}

{% block content %}
<h1>Sign Up</h1>
<form method="post">
	<div class="error">{{error}}</div>
	<label>
		<div class="signup">Username</div>
		<div class="error">{{usernameError}}</div>
		<input type="text" name="username" value="{{username}}">
	</label>

	<label>
		<div class="signup">Password</div>
		<div class="error">{{passwordError}}</div>
		<input type="password" name="password" value="">
	</label>

	<label>
		<div class="signup">Verify Password</div>
		<div class="error">{{verifyError}}</div>
		<input type="password" name="verify" value="">
	</label>

	<label>
		<div class="signup">Email (optional)</div>
		<div class="error">{{emailError}}</div>
		<input type="text" name="email" value="{{email}}">
	</label>

	<br>
	
	<div class="signup-submit">
	<input type="submit">
	</div>
</form>

{% endblock %}